@import 'src/assets/styles/templates';

.datePickerWrapper {
	position: relative;
	width: 100%;

	input {
		margin-bottom: 0;
	}

	div {
		margin-bottom: 0;
	}

	& > div:last-child {
		// margin-top: -12px;

		@media only screen and (max-width: $m_phone) {
			margin-top: 5px;
		}
	}
}
