@import 'src/assets/styles/templates';

.calendar {
  position: absolute;
  bottom: 16px !important;
  right: 16px !important;
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  path {
    pointer-events: none;
  }
}

.react-datepicker {
  max-width: 331px;
  width: 100%;

  border-radius: 4px !important;
  overflow: hidden;

  border: 1px solid var(--blue-extra-light);
  background-color: var(--white-default);
}

.react-datepicker-popper {
	padding-top: 0;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__tab-loop {
  position: relative;
}

// header
.react-datepicker__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 0;
  border: none;
  background-color: inherit;
}

.react-datepicker__navigation {
  top: 12px;
  margin: 0;

  &.react-datepicker__navigation--previous {
    left: 12px;
  }

  &.react-datepicker__navigation--next {
    right: 12px;
  }
}

.react-datepicker__current-month,
.react-datepicker__year-read-view,
.react-datepicker__year-read-view--selected-year {
  margin: 0;
  padding: 16px 0;

  color: var(--black-default);
  font-family: var(--font-family);

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.01em;
}

.react-datepicker__year-dropdown-container {
  margin: 0 4px;
}

.react-datepicker__year-read-view--down-arrow {
  display: none;
}


// day names
.react-datepicker__day-names {
  margin: 0;
  padding: 0 12px;

  border-top: 1px solid var(--grey-light);

  & .react-datepicker__day-name {
    color: #5d5f69;
    font-family: var(--font-family);

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.react-datepicker__month {
  padding: 0 12px 12px 12px;
  margin: 0;
}

// days
.react-datepicker__day,
.react-datepicker__day-name {
  height: 42px;
  width: 42px;

  margin: 0;
  padding: 10px 0;
  border-radius: 5px;

  color: var(--black-default);
  font-family: var(--font-family);

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
}

.react-datepicker__day {
  transition: none 0.15s ease-out 0s;
  transition-property: background-color, color, border-color;
  background: var(--white-default);

  &:hover {
    background-color: var(--blue-extra-light);
  }
}

.react-datepicker__day--outside-month {
  color: var(--grey-light);
}

.react-datepicker__year-read-view {
  visibility: unset !important;
}

.react-datepicker-wrapper {
  height: 0;
  overflow: hidden;
  margin-top: 0 !important;
  position: absolute;
}

// year popup
.react-datepicker__year-dropdown-container {
  position: relative;
}

.react-datepicker__year-dropdown {
  @include new-flex-col-gap(4px);

  position: absolute;
  left: -50px;
  top: 48px;
  height: 214px;
  width: 100px;

  padding: 4px;
  border-radius: 8px;
  border: 1px solid var(--blue-extra-light);
  background-color: var(--white-default);
}

.react-datepicker__year-option {
  padding: 6px 24px;
  border-radius: 4px;

  color: var(--black-default);
  transition: all 0.15s ease-out;

  &:hover {
    color: var(--black-default);
    background: var(--blue-extra-light);
  }

  &:has(.react-datepicker__navigation--years) {
    display: none;
  }
}

.react-datepicker__year-option--selected_year {
  color: var(--white-default);
  background: var(--blue-default);
}

.react-datepicker__year-option--selected {
  display: none;
}
