@import '@/assets/styles/templates.scss';

.wrapper {
  @include flex-gap(20px);
  align-items: flex-end;
}

.prompt{
  position: relative;
  bottom: 15px;
}

.popover {
  width: max-content;
}

.list {
  @include flex-col-gap(4px);

  padding: 4px;
  border-radius: 8px;
  border: 1px solid var(--c_grey);
  max-height: 266px;
  overflow-y: auto;
}

.item {
  width: 100%;
  padding: 14px 16px;
  border-radius: 5px;
  color: var(--c_black);
  line-height: 20px;
  background: inherit;
  text-align: start;

  &:hover {
    background: var(--c_light);
  }
}
